* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #2529fd;
    color: aliceblue;
}

.menu {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.menu:first-child {
    text-decoration: underline;
}

main {
    gap: 20px;
}

h2 {
    font-size: 1.5em;
    margin-left: 80px;
}

ul {
    display: flex;
    flex-direction: row;
}

.insuredsTable {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.insurance {
    margin-top: 20px;
}

.label {
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

.tdRemove {
    border: none;
    padding: 5px;
}

.removeButton {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

tbody {
    height: 30px;
}

thead {
    height: 40px;
    background-color: #2529fd;
    color: aliceblue;
    font-weight: bolder;
}

.nameCell {
    width: 350px;
}

.row {
    height: 30px;
}

td {
    width: 150px;
    height: 30px;
    text-align: center;
    border: 1px solid #000000;
}

.img {
    width: 150px;
    height: 150px;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.label {
    font-size: large;
}

.inputForm {
    width: 200px;
    height: 40px;
    border: 1.5px solid;
    border-color: #747474;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.submit {
    margin-top: 15px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: #2529fd;
    border: none;
    font-size: large;
    color: #f0f8ff;
}

.submit:hover {
    background-color: #071ea1ec;
}

.insured {
    margin-top: 20px;
}

.testButton {
    position: absolute;
    top: 50;
    right: 50;
}